<form [formGroup]="form" class="form">
  <div class="col-lg-6 col-md-12 mb-4 px-0">
    <label for="positionName">positionName </label>
    <input
      class="form-control"
      [class.invalid]="
        form.controls.positionName.touched && form.controls.positionName.invalid
      "
      [class.valid]="
        form.controls.positionName.touched && form.controls.positionName.valid
      "
      formControlName="positionName"
      name="positionName"
      [placeholder]=""
    />
  </div>

  <div class="col-lg-6 col-md-12 mb-4 px-0">
    <label for="technology">technology</label>
    <input
      class="form-control"
      [class.invalid]="
        form.controls.technology.touched && form.controls.technology.invalid
      "
      [class.valid]="
        form.controls.technology.touched && form.controls.technology.valid
      "
      formControlName="technology"
      name="technology"
      [placeholder]=""
    />
  </div>

  <div class="col-lg-6 col-md-12 mb-4 px-0">
    <label for="jobDescriptionPDF">jobDescriptionPDF</label>
    <p-fileUpload name="myfile[]" url="./upload.php" [auto]="true" chooseLabel="Seleccionar fichero"></p-fileUpload>
  </div>
</form>

<div class="float-right py-3">
  <button type="button" class="btn btn-secondary mx-4" (click)="ref.close()">
    Cancelar
  </button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="form.invalid"
    (click)="updatePosition()"
  >
    Guardar
  </button>
</div>
